<div class="column">
    <div class="card">
        <div class="card-image">
            <figure class="image is-2by1">
                <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                {{!-- cloudinary src link --}}
                    alt="User posted media image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{post.project.name}}Project Name</p>
                    <a href="/user/{{id}}" class="subtitle is-6">{{post.project.user.firstName}} {{post.project.user.lastName}}
                    </a>
                </div>
            </div>

            <div class="content">
                <p>{{post.content}}content</p>
                {{!-- <a>{{User.firstName}}, {{User.lastName}}</a>. --}}
    
                {{!-- <a href="#">#interest1</a>
                <a href="#">#interest2</a> --}}
            </div>
        </div>
    </div>
</div>