{{!-- <div class="column is-one-third"> --}}
    <div class="card-grid">
        <div class="card-image">
            <button id="upload_widget" class="cloudinary-button">
                Upload files
            </button>
            
            <!-- placeholder for uploaded image -->
            <img id="uploadedimage" src="">
            </img>

            <!-- cloudinary upload widget -->
            <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
            </script>

            <!-- local upload instantiation -->
            <script src="/public/js/upload_widget.js" type="text/javascript">
            </script>

            {{!-- <figure class="image is-2by1">
                <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    {{!-- cloudinary src link alt="User posted media image"> --}}
            </figure> --}}
        </div>
        <div class="card-content custom-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 custom-txt">{{post.project.name}}Project Name</p>
                    <a href="/user/{{id}}" class="subtitle is-6">{{post.project.user.firstName}} {{post.project.user.lastName}}
                    </a>
                </div>
            </div>

            <div class="content">
                <p class="custom-txt">{{post.caption}}</p>
                <p class="custom-txt">{{post.timestamp}}</p>
                {{!-- <a>{{User.firstName}}, {{User.lastName}}</a>. --}}
                {{!-- <a href="#">#interest1</a>
                <a href="#">#interest2</a> --}}
            </div>
        </div>
    </div>
{{!-- </div> --}}