<div class="card-content custom-content">
    {{!-- Media Content --}}
    <section class="media">
        <section class="media-content custom-camo">
            {{!-- Displays the Image --}}
            {{#ifEquals media_type "image"}}
                <img src="
            {{/ifEquals}}
                {{ media_url }}
            {{#if media_type}}
                    ">
            {{/if}}
            {{!-- Displays the Audio --}}
            {{#ifEquals media_type "audio"}}
                <audio controls> <source src="
            {{/ifEquals}}
                {{ media_url }}
            {{#if media_type}}
                    " type="audio/mp3"></audio>
            {{/if}}
        </section>
    </section>

    {{!-- Text Content --}}
    <section class="content">
        <p class="custom-txt-name">{{caption}}</p>
        <p class="custom-txt">{{format_date createdAt}} {{format_time createdAt}}</p>
    </section>
</div>
