<div class="card-content custom-content">
    <section class="media">
        <section class="media-content">
            <p class="title is-4 custom-txt">{{project.name}}</p>
            <a href="/user/{{id}}" class="subtitle is-6">{{project.user.firstName}} {{project.user.lastName}}
            </a>
        </section>
    </section>

    <section class="content">
        <p class="custom-txt-name">{{caption}}</p>
        <p class="custom-txt">{{format_date createdAt}} {{format_time createdAt}}</p>
    </section>
</div>
