{{log media_type}}
{{log media_url}}
<div class="card-content custom-content">
    <section class="media">
        <section class="media-content custom-camo">
                {{#ifEquals media_type "image"}}
                    <img src="
                {{/ifEquals}}
                    {{ media_url }}
                {{#if media_type}}
                     ">
                {{/if}}
                {{#ifEquals media_type "audio"}}
                    <audio controls> <source src="
                {{/ifEquals}}
                    {{ media_url }}
                {{#if media_type}}
                     " type="audio/mp3"></audio>
                {{/if}}
        </section>
    </section>

    <section class="content">
        <p class="custom-txt-name">{{caption}}</p>
        <p class="custom-txt">{{format_date createdAt}} {{format_time createdAt}}</p>
    </section>
</div>
