{{log profile.project.posts}}
<section class="columns">
  <aside class="custom-container column is-one-quarter">
   <div class="card">
    <div class="custom-content custom-about">
     <h4 class="widget-title">{{profile.firstName}} {{profile.lastName}}</h4>
     <img class="img-fluid" src="{{profile.profilePic}}https://media.istockphoto.com/id/1353524601/vector/metronome-icon-design-template-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=_CnfjE0Z5Ke2RrvALs9Tbg76RWH9vuklsCDQ0EEQD4A=">
     <p class="custom-txt">{{profile.bio}}</p>
     <a href="/api/project-routes/" class="button custom-btn">New Project</a>
     <a href="/api/post-routes/" class="button custom-btn">New Post</a>
    </div>
   </div>
  </aside>

 <section class="column is-three-quarters"
  {{#if profile.project}}
    <section class="intro custom-container">
      <div class="card">
        <div class="custom-content"
         <h1>{{profile.project.name}} &darr;</h1>
      </div>
    </section>

    <section class="timeline">
      <ul>
        {{#each profile.project.posts as |post|}}
          <li>
            {{> timeline-post}}
          </li>
        {{/each}}
        <li>
          <div>
            <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
          </div>
        </li>
      </ul>
    </section>
 </section>
  {{/if}}
</section>

<script src="./js/script.js"></script>
<script src="./js/upload_widget.js"></script>
<script src="./js/modal.js"></script>
<script src="./js/create_project.js"></script>
<script src="./js/create_post.js"></script>
