<section class="columns">
  <aside class="custom-container column is-one-quarter">
   <div class="card">
    <div class="custom-content custom-about">
     <h4 class="widget-title">{{firstName}} {{lastName}}</h4>
     <img class="img-fluid" src="{{profilePic}}https://media.istockphoto.com/id/1353524601/vector/metronome-icon-design-template-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=_CnfjE0Z5Ke2RrvALs9Tbg76RWH9vuklsCDQ0EEQD4A=">
     <p class="custom-txt">{{bio}}Test test test test test test test test</p>

   {{!-- Future Dev: add links to external socials --}}
   {{!-- <ul class="social-icons mb-3">
      <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li> --}}
    {{!-- </ul> --}}
    {{!-- !! are the routes linked correctly? --}}
     <a href="/api/project-routes/" class="button custom-btn">New Project</a>
     <a href="/api/post-routes/" class="button custom-btn">New Post</a>
    </div>
   </div>
  </aside>

 <section class="column is-three-quarters"
  {{#if user.project}}
    <section class="intro">
      <div class="container">
        <h1>{{user.project}} &darr;</h1>
      </div>
    </section>

    <section class="timeline">
      <ul>
        {{#each user.project.posts as |post|}}
          <li>
            {{> post-details}}
          </li>
        {{/each}}
        <li>
          <div>
            <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
          </div>
        </li>
      </ul>
    </section>
 </section>
  {{/if}}
</section>

<script src="/public/js/upload_widget.js"></script>
<script src="/public/js/modal.js"></script>
<script src="/public/js/create_project.js"></script>
<script src="/public/js/create_post"></script>