{{log profile.project.posts}}
<section class="columns custom-main-prof">
  {{!-- about me --}}
 <aside class="column is-one-quarter"> 
  <div class="custom-container">
   <div class="card">
    <div class="custom-content custom-about">
     <p id="custom-name">{{profile.firstName}} {{profile.lastName}}</p>
     <img class="img-fluid" src="{{profile.profilePic}}https://media.istockphoto.com/id/1353524601/vector/metronome-icon-design-template-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=_CnfjE0Z5Ke2RrvALs9Tbg76RWH9vuklsCDQ0EEQD4A=">
     <p class="custom-txt">{{profile.bio}}</p>
     <a class="button custom-btn js-modal-trigger"
        data-target="modal-project">
        New Project
      </a>
     {{!-- <button id="upload_widget" class="cloudinary-button">Upload files</button> --}}
     <a class="button custom-btn js-modal-trigger"
        data-target="modal-post">
        New Post
      </a>
    </div>
   </div>
  </div>
 </aside>
{{!-- project timeline --}}
 <section class="column is-three-quarters">
   <section id="custom-title" class="intro custom-container">
  {{#if profile.project}}
      <div class="card">
        <div class="custom-content"
         <h1>{{profile.project.name}}</h1>
      </div>
    </section>

    <section class="timeline">
      <ul>
        {{#each profile.project.posts as |post|}}
          <li>
            {{> timeline-post}}
          </li>
        {{/each}}
        <li>
          <div>
            <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
          </div>
        </li>
      </ul>
    </section>
 </section>
  {{/if}}
</section>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button custom-btn">Save changes</button>
      <button class="button custom-btn-light">Cancel</button>
    </footer>
  </div>
</div>

<div id="modal-project" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head card">
      <p class="modal-card-title">New Project...</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-bod custom-content">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot custom-content">
      <button class="button custom-btn">Create Project</button>
      <button class="button custom-btn-xlight">Cancel</button>
    </footer>
  </div>
</div>

<div id="modal-post" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Post...</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button custom-btn">Create Post</button>
      <button class="button custom-btn-xlight">Cancel</button>
    </footer>
  </div>
</div>

<script src="/js/script.js"></script>
<script src="/js/upload_widget.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/create_project.js"></script>
<script src="/js/create_post.js"></script>
